@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

:root {
    font-size: 10px;
    --main-color: #d3ad7f;
    --black: #131313;
    --bg: #010103;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
    text-decoration: none;
}

.video-fundo {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.video-fundo video {
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
}

.sombra {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
}

section {
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: var(--bg);
    border-bottom: var(--border);
    width: 100vw;
}

header section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    padding: 1.5rem 0;
    position: relative;
}

header section a img {
    height: 6rem;
}

header section nav a {
    margin: 0 1rem;
    font-size: 1.8rem;
    color: white;
    transition: 0.2s linear;
    text-transform: none;
}

header section nav a:hover {
    color: var(--main-color);
    border-bottom: 0.1rem solid var(--main-color);
    padding-bottom: 0.5rem;
    opacity: 0.9;
}

.textos {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.textos div {
    max-width: 60rem;
}

.textos div h3 {
    color: white;
    font-size: 6rem;
    text-transform: uppercase;
}

.textos div p {
    font-size: 2rem;
    color: white;
    font-weight: lighter;
    padding: 1rem 0;
    line-height: 1.8;
}

.pedido-cafe {
    background-color: var(--main-color);
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 5px;
    display: inline-block;
    transition: 0.3s linear;
}

.pedido-cafe:hover{
    background: white;
    transition: 0.3s;
    opacity: 0.8;
}

.textos div a:hover {
    background: white;
    transition: 0.3s;
    opacity: 0.8;
}

.text-especial {
    text-align: center;
    color: white;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.text-especial span {
    color: var(--main-color);
}

.sobre-nos .container {
    display: flex;
    align-items: center;
    background-color: var(--black);
    gap: 1.5rem;
    flex-wrap: wrap;
}

.sobre-nos .container .img {
    flex: 1 1 45rem;
}

.sobre-nos .container .img img {
    width: 100%;
}

.sobre-nos .container .script {
    flex: 1 1 45rem;
    padding: 2rem;
}

.sobre-nos .container .script h3 {
    color: white;
    font-size: 3rem;

}

.sobre-nos .container .script p {
    font-size: 1.5rem;
    color: white;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
}

.modal {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    gap: 20px;
    z-index: 4;
    position: fixed;
    top: 50%;
    left: -30%;
    transform: translate(-50%, -50%);
    transition: left 1s linear;
}

.mascara {
    visibility: hidden;
    z-index: 3;
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
}