* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}
body {
    background: url(https://wallpapers.com/images/hd/high-resolution-blue-background-1920-x-1080-pzuuod14fe8v4ujs.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.square {
    padding: 20px;
    background-color: #ffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.buttons {
    margin: 30px 0;
    display: flex;
    gap: 40px;
}
button {
    padding: 10px;
    font-size: 50px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: opacity 0.5 ease-in-out;
}
button:hover {
    opacity: 0.7;
}
#stone {
    background-color: blue;
}
#paper {
    background-color: darkblue;
}
#scissors {
    background-color: rgb(5, 4, 56);
}
p {
    font-size: 20px;
    line-height: 30px;
}
.human-score span {
    font-weight: bold;
    color: darkblue;
}
.robo-score span {
    font-weight: bold;
    color: rgb(46, 127, 249);
}